.portfolio {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  height: 100vh;
}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper {
  overflow: visible !important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

/* Portfolio.css */

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  font-size: x-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.pagination .active a {
  color: #fff;
  background-color: #007bff;
}

@media screen and(max-width: 720px) {
  .portfolio {
    display: flex;
    flex-direction: row;
  }
}
